The York Castle canteen has had a recent increase of missing lunches or food items during lunch periods 
that have missing profits, hence causing the cafeteria. While the cafeteria is operating at a loss 
the quality and services delivered will be negatively impacted, this can then lead to profits allocated 
for other services being funneled into the cafeteria and hence lessening the quality of said services, 
so far, the cafeteria is running at a 12% loss and is expected to further increase to 24% in
the next 4 months, this problem has been attempted to be tackled manually, by counting all
the lunches sold but there lies the problem of human error.

The main objective of this is to minimize the % loss of profit, 
by making sure each lunch is counted and sold from a fixed amount prepared daily it can be ensured
that none are being lost, wasted or stolen. 

Functional requirements:

Allow the supervising staff to login 
Allow the supervising staff to see the different food items off the menu
Allow the supervising staff to add or remove food items off the menu
Allow the supervising staff to see the prices of the food
Allow the supervising staff to see how much of a specific item has been sold for a day
Allow the supervising staff to see how much profit a specific food item profits for a certain day


Non-functional requirements:

The system will be easy to use for everyone and can be taught in 15 minutes
The software will be able to process user inputs at least sub second
The software will work on almost any machine with a c-compiler 


when adding a scanf add an extra buffer 
menu prices
menu items
data storage
use switch statements coz cool
